@font-face {
    font-family: 'Polentical_Neon_Regular';
    src: url("./assets/fonts/Polentical_Neon/Polentical_Neon_Regular.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/Polentical_Neon/Polentical_Neon_Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_Regular.otf") format("opentype"), /* Open Type Font */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_Regular.svg") format("svg"), /* Legacy iOS */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_Regular.woff") format("woff"), /* Modern Browsers */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Polentical_Neon_Bold';
    src: url("./assets/fonts/Polentical_Neon/Polentical_Neon_Bold.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/Polentical_Neon/Polentical_Neon_Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_Bold.otf") format("opentype"), /* Open Type Font */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_Bold.svg") format("svg"), /* Legacy iOS */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_Bold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_Bold.woff") format("woff"), /* Modern Browsers */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Polentical_Neon_Italic';
    src: url("./assets/fonts/Polentical_Neon/Polentical_Neon_Italic.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/Polentical_Neon/Polentical_Neon_Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_Italic.otf") format("opentype"), /* Open Type Font */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_Italic.svg") format("svg"), /* Legacy iOS */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_Bold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_Italic.woff") format("woff"), /* Modern Browsers */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_Italic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Polentical_Neon_BoldItalic';
    src: url("./assets/fonts/Polentical_Neon/Polentical_Neon_BoldItalic.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/Polentical_Neon/Polentical_Neon_BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_BoldItalic.otf") format("opentype"), /* Open Type Font */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_BoldItalic.svg") format("svg"), /* Legacy iOS */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_BoldItalic.woff") format("woff"), /* Modern Browsers */
      url("./assets/fonts/Polentical_Neon/Polentical_Neon_BoldItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url("./assets/fonts/Open_Sans/OpenSans-Regular.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/Open_Sans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./assets/fonts/Open_Sans/OpenSans-Regular.otf") format("opentype"), /* Open Type Font */
      url("./assets/fonts/Open_Sans/OpenSans-Regular.svg") format("svg"), /* Legacy iOS */
      url("./assets/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./assets/fonts/Open_Sans/OpenSans-Regular.woff") format("woff"), /* Modern Browsers */
      url("./assets/fonts/Open_Sans/OpenSans-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url("./assets/fonts/Open_Sans/OpenSans-Bold.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/Open_Sans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./assets/fonts/Open_Sans/OpenSans-Bold.otf") format("opentype"), /* Open Type Font */
      url("./assets/fonts/Open_Sans/OpenSans-Bold.svg") format("svg"), /* Legacy iOS */
      url("./assets/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./assets/fonts/Open_Sans/OpenSans-Bold.woff") format("woff"), /* Modern Browsers */
      url("./assets/fonts/Open_Sans/OpenSans-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url("./assets/fonts/Open_Sans/OpenSans-BoldItalic.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/Open_Sans/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./assets/fonts/Open_Sans/OpenSans-BoldItalic.otf") format("opentype"), /* Open Type Font */
      url("./assets/fonts/Open_Sans/OpenSans-BoldItalic.svg") format("svg"), /* Legacy iOS */
      url("./assets/fonts/Open_Sans/OpenSans-BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./assets/fonts/Open_Sans/OpenSans-BoldItalic.woff") format("woff"), /* Modern Browsers */
      url("./assets/fonts/Open_Sans/OpenSans-BoldItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url("./assets/fonts/Open_Sans/OpenSans-ExtraBold.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/Open_Sans/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./assets/fonts/Open_Sans/OpenSans-ExtraBold.otf") format("opentype"), /* Open Type Font */
      url("./assets/fonts/Open_Sans/OpenSans-ExtraBold.svg") format("svg"), /* Legacy iOS */
      url("./assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./assets/fonts/Open_Sans/OpenSans-ExtraBold.woff") format("woff"), /* Modern Browsers */
      url("./assets/fonts/Open_Sans/OpenSans-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url("./assets/fonts/Open_Sans/OpenSans-ExtraBoldItalic.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/Open_Sans/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./assets/fonts/Open_Sans/OpenSans-ExtraBoldItalic.otf") format("opentype"), /* Open Type Font */
      url("./assets/fonts/Open_Sans/OpenSans-ExtraBoldItalic.svg") format("svg"), /* Legacy iOS */
      url("./assets/fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./assets/fonts/Open_Sans/OpenSans-ExtraBoldItalic.woff") format("woff"), /* Modern Browsers */
      url("./assets/fonts/Open_Sans/OpenSans-ExtraBoldItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url("./assets/fonts/Open_Sans/OpenSans-Italic.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/Open_Sans/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./assets/fonts/Open_Sans/OpenSans-Italic.otf") format("opentype"), /* Open Type Font */
      url("./assets/fonts/Open_Sans/OpenSans-Italic.svg") format("svg"), /* Legacy iOS */
      url("./assets/fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./assets/fonts/Open_Sans/OpenSans-Italic.woff") format("woff"), /* Modern Browsers */
      url("./assets/fonts/Open_Sans/OpenSans-Italic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url("./assets/fonts/Open_Sans/OpenSans-Light.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/Open_Sans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./assets/fonts/Open_Sans/OpenSans-Light.otf") format("opentype"), /* Open Type Font */
      url("./assets/fonts/Open_Sans/OpenSans-Light.svg") format("svg"), /* Legacy iOS */
      url("./assets/fonts/Open_Sans/OpenSans-Light.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./assets/fonts/Open_Sans/OpenSans-Light.woff") format("woff"), /* Modern Browsers */
      url("./assets/fonts/Open_Sans/OpenSans-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url("./assets/fonts/Open_Sans/OpenSans-LightItalic.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/Open_Sans/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./assets/fonts/Open_Sans/OpenSans-LightItalic.otf") format("opentype"), /* Open Type Font */
      url("./assets/fonts/Open_Sans/OpenSans-LightItalic.svg") format("svg"), /* Legacy iOS */
      url("./assets/fonts/Open_Sans/OpenSans-LightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./assets/fonts/Open_Sans/OpenSans-LightItalic.woff") format("woff"), /* Modern Browsers */
      url("./assets/fonts/Open_Sans/OpenSans-LightItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url("./assets/fonts/Open_Sans/OpenSans-Semibold.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/Open_Sans/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./assets/fonts/Open_Sans/OpenSans-Semibold.otf") format("opentype"), /* Open Type Font */
      url("./assets/fonts/Open_Sans/OpenSans-Semibold.svg") format("svg"), /* Legacy iOS */
      url("./assets/fonts/Open_Sans/OpenSans-Semibold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./assets/fonts/Open_Sans/OpenSans-Semibold.woff") format("woff"), /* Modern Browsers */
      url("./assets/fonts/Open_Sans/OpenSans-Semibold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url("./assets/fonts/Open_Sans/OpenSans-SemiboldItalic.eot"); /* IE9 Compat Modes */
    src: url("./assets/fonts/Open_Sans/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./assets/fonts/Open_Sans/OpenSans-SemiboldItalic.otf") format("opentype"), /* Open Type Font */
      url("./assets/fonts/Open_Sans/OpenSans-SemiboldItalic.svg") format("svg"), /* Legacy iOS */
      url("./assets/fonts/Open_Sans/OpenSans-SemiboldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./assets/fonts/Open_Sans/OpenSans-SemiboldItalic.woff") format("woff"), /* Modern Browsers */
      url("./assets/fonts/Open_Sans/OpenSans-SemiboldItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Heebo-Regular';
  src: url("./assets/fonts/Heebo/Heebo-Regular.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/Heebo/Heebo-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./assets/fonts/Heebo/Heebo-Regular.otf") format("opentype"), /* Open Type Font */
    url("./assets/fonts/Heebo/Heebo-Regular.svg") format("svg"), /* Legacy iOS */
    url("./assets/fonts/Heebo/Heebo-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./assets/fonts/Heebo/Heebo-Regular.woff") format("woff"), /* Modern Browsers */
    url("./assets/fonts/Heebo/Heebo-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}